<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>基地详情页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<META NAME="MobileOptimized" CONTENT="yes">
		<!--移动优化-->
		<meta name="apple-touch-fullscreen" content="yes" />
		<!--全屏-->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--网站开启对web app程序的支持。-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" type="text/css" href="css/jidi_xiangqing.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.css" />
		<script src="js/js.js"></script>
		<script src="js/main.js"></script>
		<script src="js/swiper.js"></script>
	</head>
	<body>
		<div id="nav_bottom">
			<ul>
				<li  onclick="index()">
					<img src="img/shouye02.png" alt="">
					<p>首页</p>
				</li><li onclick = 'jidi()' style="background: #eee;color: #3399ff">
					<img src="img/jidi02.png" alt="">
					<p>基地</p>
				</li><li onclick = 'xianlu()'>
					<img src="img/xianlu.png" alt="">
					<p>线路</p>
				</li><li onclick = 'fujin()'>
					<img src="img/fujin.png" alt="">
					<p>附近</p>
				</li>
			</ul>
		</div>
		<div id="jidi_xiangqing_top">
			<div class="jidi_xiangqing_top_img">
				<img src="img/tuijian01.jpg" alt="">
			</div>
			<div class="jidi_xiangqing_top_list">
				<p>北京延庆硅化木国家地质公园</p>
				<div class="jidi_xiangqing_top_list_p">
					<img src="img/people.png" alt="">
					<span>联系人：</span>
				</div>
				<div class="jidi_xiangqing_top_list_p">
					<img src="img/dibiao.png" alt="">
					<span>北京市延庆县妫水北街72号</span>
				</div>
				<div class="jidi_xiangqing_top_list_p">
					<img src="img/time.png" alt="">
					<span>开放时间：09:00 -- 17:00</span>
				</div>
				<div class="jidi_xiangqing_top_list_p">
					<img src="img/menpiao.png" alt="">
					<span>门票：</span>
				</div>
			</div>
		</div>
		<div id="jidi_xiangqing_center">
			<div class="jidi_xiangqing_center_cont">
				<img src="img/xiangqing_dianhua.png" alt="">
				<p>电话</p>
			</div>
			<div class="jidi_xiangqing_center_cont">
				<img src="img/jidi_go.png" alt="">
				<p>路线</p>
			</div>
		</div>
		<div id="media">
			<video controls>
				<source src="slow.mp4" type="video/mp4">
			</video>
		</div>
		<div id="media_02">
			<audio controls>
  				<source src="conan_bgm.mp3" type="audio/mp3">
			</audio>
		</div>
		<div id="jidi_xiangqing_list">
			<span>北京延庆硅化木国家地质公园</span>
			<p>北京延庆硅化木国家地质公园位于延庆县东北部的白河两岸，四面环山。西南距延庆县城约30公里，距北京城约100公里。园区东邻怀柔，西、北与河北省赤城县接壤，南面是延庆盆地。沿白河两岸，东西长26公里，南北宽6－8公里，总面积约226平方公里。地质公园以形成于距今1.4-1.8亿年间的上侏罗纪硅化木为特征。园内环境优美、气候宜人，年平均气温8.4℃；内含木化石群、滴水壶、乌龙峡谷等众多地质、人文及自然景观，是华北地区唯一以典型稀有、珍贵的硅化木群为主体景观的国家地质公园。</p>
			<p>地&nbsp;&nbsp;&nbsp;&nbsp;址：北京市延庆县妫水北街72号</p>
			<p>开放方式：无需预约 购票参观</p>
			<p>预约电话：010-69172999</p>
			<p>网&nbsp;&nbsp;&nbsp;&nbsp;址：www.yqdzgy.cn</p>
		</div>
	</body> 
	</html>