<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>张家口科普旅行</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<META NAME="MobileOptimized" CONTENT="yes">
		<!--移动优化-->
		<meta name="apple-touch-fullscreen" content="yes" />
		<!--全屏-->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--网站开启对web app程序的支持。-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" type="text/css" href="css/css.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.css" />
		<script src="js/js.js"></script>
		<script src="js/main.js"></script>
		<script src="js/swiper.js"></script>
	</head>
	<body style="background: #eee;">
		<div id="nav_bottom">
			<ul>
				<li onclick="index()">
					<img src="img/shouye02.png" alt="">
					<p>首页</p>
				</li><li onclick = 'jidi()'>
					<img src="img/jidi.png" alt="">
					<p>基地</p>
				</li><li onclick = 'xianlu()' style="background: #eee;color: #3399ff">
					<img src="img/xianlu02.png" alt="">
					<p>线路</p>
				</li><li onclick = 'fujin()'>
					<img src="img/fujin.png" alt="">
					<p>附近</p>
				</li>
			</ul>
		</div>
		<div id="xianlu_xiangqing">
			<img src="img/jingpin_xq.jpg" alt="">
			<div class="new_xianlu">
				<p>&nbsp; &nbsp; 张家口科普旅游 &nbsp; 推荐：5天游</p><br><br><br>
				<p>&nbsp; &nbsp; 第一天：启程 &nbsp; （交通工具：火车或者汽车）</p><br>
				<p>&nbsp; &nbsp; 石家庄→张家口</p><br><br><br>
				<p>&nbsp; &nbsp; 第二天：草原天路 &nbsp;（交通工具：汽车）</p><br>
				<p>&nbsp; &nbsp; 张家口市→草原天路（野狐岭→桦皮岭）→崇礼区</p><br>
				<p>&nbsp; &nbsp; 草原天路，位于张家口市张北县和崇礼区的交界处，西起张北县城南侧的野狐岭（野狐岭要塞附近），东至崇礼县桦皮岭处，是连接崇礼滑雪区、赤城温泉区和张北草原风景区的一条重要通道，也是中国大陆十大最美丽的公路之一。草原天路周边还分布着桦皮岭、野狐岭、古长城等旅游景点。&nbsp;</p><br>
				<p>&nbsp; &nbsp; “草原天路” 全长132.7公里，2011年底由张家口市张北县投资3.2亿元，于2012年9月底建成通车。公路沿线蜿蜒曲折、河流山峦、沟壑纵深、草甸牛羊、景观奇峻，展现出一幅百里坝头风景画卷，分布着古长城遗址、桦皮岭、野狐岭、张北草原等众多人文、生态和地质旅游资源。</p>
				<br><br><br>
				<p>&nbsp; &nbsp; 第三天：崇礼区科普旅游 &nbsp;（交通工具：汽车）</p><br>
				<p>&nbsp; &nbsp; 崇礼区→奥运村（冬奥指挥中心）→冰雪博物馆→沽源县城</p><br>
				<p>　　2022年北京-张家口冬季奥运会（2022 The winter Olympics in Beijing &amp; Zhangjiakou）第24届冬季奥林匹克运动会，简称“北京张家口冬奥会”，将在2022年02月04日～2022年02月20日在中华人民共和国北京市和张家口市联合举行。这是中国历史上第一次举办冬季奥运会，北京、张家口同为主办城市，也是中国继北京奥运会、南京青奥会后，中国第三次举办的奥运赛事。</p><br>
				<p>&nbsp; &nbsp; 北京张家口奥运会设7个大项，102个小项。北京将承办所有冰上项目，延庆和张家口将承办所有的雪上项目。北京成为奥运史上第一个举办过夏季奥林匹克运动会和冬季奥林匹克运动会的城市，也是继1952年挪威的奥斯陆之后时隔整整70年后第二个举办冬奥会的首都城市。同时中国也将成为一个举办过五次各类奥林匹克运动会的国家（尚未举办冬青奥会）。</p>
				<br><br><br>
				<p>&nbsp; &nbsp; 第四天：沽源县科普旅游 &nbsp;（交通工具：汽车）</p><br>
				<p>&nbsp; &nbsp; 沽源县城→沽源闪电河→闪电河湿地公园→沽源县城</p><br>
				<p>　　闪电河，蒙古语"相德因高乐"，意为"上都河"，因其流经元上都而得名。现名“闪电河”实属谐音误传。闪电河古称濡水，是滦河的源头，从沽源与丰宁两县交界的发源，越山林，过湖泊，迤逦前行，曲致如带，穿过沽源，绕蓝旗，经多伦，过承德诸地，汇小滦河、武烈河、柳河、暴河诸水，从喜峰口路过长城，奔腾直下，注入渤海，流程877公里。千百年来，她像母亲一样滋育着坝上草原，使这里山清水秀、天蓝云白、鸟语花香、牛羊肥壮。</p><br>
				<p>&nbsp; &nbsp; 闪电河湿地公园位于河北省沽源县城东部，最近处距县城5公里，北部以魏华营村西北草原湖北部湿地为边界，南部以闪电河水库南部湿地为边界，东西大部分以湿地和耕地分界线为边界，呈狭长形地带，总面积4119.9公顷，是张家口坝上湿地中保存最为完好的典型代表。 闪电河湿地公园的水系主要由闪电河、五女河、闪电湖、草原湖等构成，闪电湖和草原湖分别镶嵌于湿地南北两端，蜿蜒曲折的闪电河从中间穿过，闪电河两侧是大面积的退化湿地草滩。</p>
				<br><br><br><br>
				<p>&nbsp; &nbsp; 第五天：张家口市区游 &nbsp;（交通工具：汽车） &nbsp; &nbsp;</p><br><br>
				<p>&nbsp; &nbsp; 沽源县城→张家口市大镜门</p><br>
				<p>&nbsp; &nbsp; 返程 &nbsp; &nbsp; &nbsp;（交通工具：火车或者汽车） &nbsp; &nbsp;&nbsp;</p><br>
				<p>&nbsp; &nbsp; 张家口→石家庄</p><br>
				<p>　　大镜门处张家口市东、西太平山之间，是万里长城的一个关隘，是一座条石基础的砖砌拱门，门墙高12米，底长13米，宽9米，有木质铁皮大门两扇。顶部为一平台，长12米，宽7.5米，外有1.7米高的垛口，内有0.8米高的女儿墙，东部有台阶可上。人工堆砌，天然造化，浑然一体。门楣上有时任察哈尔都统高维岳于1927年所题的四大颜体大字“大好河山”，每字足有一米见方，笔力苍劲。</p>
				<p><br></p>



			</div>

		</div>
	</body>
	</html>