<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>天津海昌极地海洋世界（海昌极地海洋馆）</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<META NAME="MobileOptimized" CONTENT="yes">
		<!--移动优化-->
		<meta name="apple-touch-fullscreen" content="yes" />
		<!--全屏-->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--网站开启对web app程序的支持。-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" type="text/css" href="css/jidi_xiangqing.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.css" />
		<script src="js/js.js"></script>
		<script src="js/main.js"></script>
		<script src="js/swiper.js"></script>
	</head>
	<body>
		<div id="nav_bottom">
			<ul>
				<li  onclick="index()">
					<img src="img/shouye02.png" alt="">
					<p>首页</p>
				</li><li onclick = 'jidi()' style="background: #eee;color: #3399ff">
					<img src="img/jidi02.png" alt="">
					<p>基地</p>
				</li><li onclick = 'xianlu()'>
					<img src="img/xianlu.png" alt="">
					<p>线路</p>
				</li><li onclick = 'fujin()'>
					<img src="img/fujin.png" alt="">
					<p>附近</p>
				</li>
			</ul>
		</div>
		<div id="jidi_xiangqing_top">
			<div class="jidi_xiangqing_top_img">
				<img src="img/lunbo_01_01.jpg" alt="">
			</div>
			<div class="jidi_xiangqing_top_list">
				<p>天津海昌极地海洋世界（海昌极地海洋馆）</p>
				<div class="jidi_xiangqing_top_list_p">
					<img src="img/people.png" alt="">
					<span>联系人：</span>
				</div>
				<div class="jidi_xiangqing_top_list_p">
					<img src="img/dibiao.png" alt="">
					<span>天津市滨海新区响螺湾商务区61号</span>
				</div>
				<div class="jidi_xiangqing_top_list_p">
					<img src="img/time.png" alt="">
					<span>开放时间：09:00 -- 16:30</span>
				</div>
				<div class="jidi_xiangqing_top_list_p">
					<img src="img/menpiao.png" alt="">
					<span>门票：160元</span>
				</div>
			</div>
		</div>
		<div id="jidi_xiangqing_center">
			<div class="jidi_xiangqing_center_cont">
				<img src="img/xiangqing_dianhua.png" alt="">
				<p>电话</p>
			</div>
			<div class="jidi_xiangqing_center_cont">
				<img src="img/jidi_go.png" alt="">
				<p>路线</p>
			</div>
		</div>
		<div id="media">
			<video controls>
				<source src="slow.mp4" type="video/mp4">
			</video>
		</div>
		<div id="media_02">
			<audio controls>
  				<source src="conan_bgm.mp3" type="audio/mp3">
			</audio>
		</div>
		<div id="jidi_xiangqing_list">
			<span>天津海昌极地海洋世界（海昌极地海洋馆）</span>
			<p>天津海昌极地海洋世界为AAAA级景区。项目位于天津市塘沽区响螺湾旅游板块，地处海河南岸，园区于2010年9月30日开业，由极地海洋馆、阳光海游城、酒店式公寓、城市旅游大道及嘉年华板道街等五大功能区构成，为游客提供观赏、休闲、娱乐、餐饮、购物一站式旅游服务。整体投资36亿人民币，占地面积19.3万平方米。海洋馆占地面积约50000平方米，建筑面积约47000平方米，最高建筑高度67米，目前是世界上规模最大、展示极地海洋生物品种最全的极地海洋动物馆。</p>
			<p>网&nbsp;&nbsp;&nbsp;&nbsp;址：www.tianjinpolar.com</p>
			<p>地&nbsp;&nbsp;&nbsp;&nbsp;址：天津市滨海新区响螺湾商务区61号</p>
			<p>开放方式：团体预约</p>
			<p>开放时间：9:00-16:30</p>
			<<p>门&nbsp;&nbsp;&nbsp;&nbsp;票：成人票价:160元/张 优惠票价:80元/张</p>
			<p>预约电话：022－25385996</p>
			<p>交通条件：停车位400个</p>
			<p>公交线路：市区内乘坐110路、901路、529路、605路、821路皆可到达</p>
			<p>自 驾 车：1、快速路大沽南路-外环津沽桥上天津大道-河南路海门大桥出口-桥下十字路口左转向海门大桥方向走-见海门大桥右转即到极地海洋馆。</p>
			<p>2、走志成道快速-东纵快速-津滨大道-津滨高速-塘沽河北路-海门大桥-下桥左转即到。</p>

		</div>
	</body> 
	</html>