<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>河北一日游</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<META NAME="MobileOptimized" CONTENT="yes">
		<!--移动优化-->
		<meta name="apple-touch-fullscreen" content="yes" />
		<!--全屏-->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--网站开启对web app程序的支持。-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" type="text/css" href="css/css.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.css" />
		<script src="js/js.js"></script>
		<script src="js/main.js"></script>
		<script src="js/swiper.js"></script>
	</head>
	<body style="background: #eee;">
		<div id="nav_bottom">
			<ul>
				<li onclick="index()">
					<img src="img/shouye02.png" alt="">
					<p>首页</p>
				</li><li onclick = 'jidi()'>
					<img src="img/jidi.png" alt="">
					<p>基地</p>
				</li><li onclick = 'xianlu()' style="background: #eee;color: #3399ff">
					<img src="img/xianlu02.png" alt="">
					<p>线路</p>
				</li><li onclick = 'fujin()'>
					<img src="img/fujin.png" alt="">
					<p>附近</p>
				</li>
			</ul>
		</div>
		<div id="xianlu_xiangqing">
			<img src="img/xianlu_xiangqing.jpg" alt="">
			<div class="new_xianlu">
				<p>（1）线：石家庄经济学院地球科学博物馆、石家庄市规划展览馆、赵州桥；</p>
				<p>（2）线：石家庄生命科学馆、河北省科技馆、河北省图书馆、石家庄市公安交通管理局交通控制中心；</p>
				<p>（3）线：石家庄铁道大学现代铁路技术科普基地、正定县科技馆；</p>
				<p>（4）线：河北嶂石岩国家地质公园科普基地；</p>
				<p>（5）线：邺城博物馆暨邺城铜雀三台遗址公园（AAA级）、磁州窑博物馆科普基地；</p>
				<p>（6）线：平山县驼梁风景区科普教育基地；</p>
				<p>（7）线：平山县东方巨龟苑旅游景区、西柏坡森林公园科普基地；</p>
				<p>（8）线：赵州桥、临城崆山白云洞；</p>
				<p>（9）线：邢台市郭守敬纪念馆、中国人民抗日军政大学纪念馆暨前南峪科技示范园区；</p>
				<p>（10）线：衡水市气象科普基地、衡水市邓庄生态农业科普基地、衡水市农业科技科普基地；</p>
				<p>（11）线：沧州名人植物园、河北省海盐文化科普基地、南大港湿地科普教育基地；</p>
				<p>（12）线：英利集团光伏馆暨河北省光伏工程技术研究中心、河北大学博物馆、河北省吊索具科普基地；</p>
			</div>
		</div>
	</body>
	</html>