<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>天津一日游</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<META NAME="MobileOptimized" CONTENT="yes">
		<!--移动优化-->
		<meta name="apple-touch-fullscreen" content="yes" />
		<!--全屏-->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--网站开启对web app程序的支持。-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" type="text/css" href="css/css.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.css" />
		<script src="js/js.js"></script>
		<script src="js/main.js"></script>
		<script src="js/swiper.js"></script>
	</head>
	<body style="background: #eee;">
		<div id="nav_bottom">
			<ul>
				<li onclick="index()">
					<img src="img/shouye02.png" alt="">
					<p>首页</p>
				</li><li onclick = 'jidi()'>
					<img src="img/jidi.png" alt="">
					<p>基地</p>
				</li><li onclick = 'xianlu()' style="background: #eee;color: #3399ff">
					<img src="img/xianlu02.png" alt="">
					<p>线路</p>
				</li><li onclick = 'fujin()'>
					<img src="img/fujin.png" alt="">
					<p>附近</p>
				</li>
			</ul>
		</div>
		<div id="xianlu_xiangqing">
			<img src="img/yiriyou03.jpg" alt="">
			<div class="new_xianlu">
				<p>（1）线：天津大学、 南开大学（南开大学医学知识科普基地）；</p>
				<p>（2）线：天津泰丰公园 、空客A320天津总装线、天津市滨海新区规划展馆、基辅号航母主题公园（天津滨海航母主题公园）；</p>
				<p>（3）线：天津港、天津港博览馆、天津港保税区、天津经济技术开发区；</p>
				<p>（4）线：紫云公园、中新天津生态城、天津中新药业集团中新药业自然人文陈列馆；</p>
				<p>（5）线：天津船厂—大沽船坞的百年传承、天津海昌极地海洋世界、塘沽海洋高新技术开发区；</p>
				<p>（6）线：天津市规划展览馆、天津电力科技博物馆、平津战役纪念馆、天士力控股集团；</p>
				<p>（7）线：天津科技馆、天津自然博物馆、天津泰达环保有限公司（天津泰达垃圾焚烧发电厂）；;</p>
				<p>（8）线：金威啤酒博物馆、天津空港物流加工区、蓟县地质博物馆。</p>

			</div>
		</div>
	</body>
	</html>